.background{
    background-image: url("https://img.freepik.com/free-photo/jar-sunflowers-is-sitting-table-with-sunset-background_1340-34597.jpg?w=740&t=st=1687424370~exp=1687424970~hmac=6aec4a75cab4e8b300190df94a1a30b47f7ef15b3cfda403f47cba9f99fda7aa");
    background-size: cover;
    background-attachment:fixed
  }